<h1>Edit Article</h1>
<h4>Item not found, add item</h4>
<form enctype="application/x-www-form-urlencoded" method="POST" action="/articles">  
    <input type="text" name="title">    
    <input type="text" name="author">  
    <input type="text" name="body">  
  <input type="submit" value="Submit">
</form>