<h1>Edit Article</h1>
<h4>Item not found, add item</h4>
<form>
  <input type="text" placeholder='Article Title' id='title_input'>
  <input type="text" placeholder="Article Author" id="author_input">
  <input type="text" placeholder="Article Body" id="article_input">
  <button id="submit">Submit</button>
</form>
