{{!-- <div class="searchBar" contenteditable="true">SEARCH</div> --}}
<div class = 'frontPageWrapper'>
<div class="header">
  <div class = 'header-title'> Choose a Resource  </div>
  <div id = 'searchIcon' class = 'icon' >🔍</div>
</div>

<div class='resource-choices-container'>
  <div class="product-choice-container">
    <a href="/products" id='products-choice'>PRODUCTS</a>
  </div>
  <div class="article-choice-container">
    <a href="/articles" id='articles-choice'>ARTICLES</a>
  </div>
</div>
<div class="landingFooterContainer">
  <div class = 'landingFooterItems'>
    Building this project helped me practice creating, editing, and removing content that respond to POST, PUT, and DELETE methods.
  </div>
</div>
</div>
