<div class="header">
  Choose a Resource Below
</div>
<div class='resource-choices-container'>
  <div class="product-choice-container">
    <a href="/products" id='products-choice'><div class="ptext">PRODUCTS</div></a>
  </div>
  <div class="article-choice-container">
    <a href="/articles" id='articles-choice'><div class="atext">ARTICLES</div></a>
  </div>
</div>
<div class="landingFooterContainer">
  <div class = 'landingFooterItems'>
    Building this project helped me practice creating, editing, and removing content. There are two types of content, articles and products, which are referred to as resources. For each resource, I created a route, a set of endpoints which respond to POST, PUT, and DELETE methods.
  </div>
</div>