<h1>Input New Article</h1>
<form enctype="application/x-www-form-urlencoded" method="POST" action="/articles">
  <div>TITLE</div>
  <input type="text" name="title" class='input' placeholder="Title" value="{{article.title}}">
  <div>AUTHOR</div>
  <input type="text" name="author" placeholder="Author" class='input'>
  <div>BODY</div>
  <input type="text" name="body" placeholder="Body" class="input">
  <input type="submit" class = 'submit' value="Submit">
</form>