html, body{
  margin: 0;
  padding: 0;
}
.frontPageWrapper{
  background-image: url('/assets/skyBackground.jpg');
  background-size: 100% 100%;
}

.header{
  width:100%;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.icon{
  margin-right:20px;
  margin-bottom:10px;
}

.header-title{
  height: 40px;
  margin-left:7px;
}

.searchBar{
height: 812px;
background-color: whitesmoke;
width: 100px;
margin-left:275px;
}

.ptext{
color:white
}

.atext{
  color:black;
}

.article-choice-container{
  height:320px;
  width:100%;
  background-image: url('/assets/newspaperChoice.jpg');
  background-size: 100% 100%;
  margin-top:15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-choice-container{
  height: 320px;
  width:100%;
  background-image: url('/assets/productsChoice.jpg');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#articles-choice{
  color:black;
  margin-bottom:50px;
}

#products-choice{
  color:white;
}
.landingFooterContainer{
  height: 100.5px;
  width:100%;
  background-color:#191919;
  color:whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:solid whitesmoke 3px;

}
.landingFooterItems{
  text-align: center; 
}
#articles-entries{
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
  width:45%;
  margin:5px;
}
.articleHomeHeader{
  display:flex;
  width:100%;
  height:55px;
  align-items: center;
  justify-content: space-evenly;
  color:white;
}
#article-body{
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

.article-entries-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.articleHomeWrapper{
  background-image:url('/assets/articleBackground.jpg');
  background-size: 100% 100%;
  height: 812px;
}
.anew{
  color:white;
  background-color: black;
  height: 25px;
  font-size:20px;
}
::placeholder{
  color:lightgray;
  opacity: 1;
}
.input{
  background-color: black;
  color:white;
  height: 20px;
  margin:20px;
}